# Ignore dependency folders
node_modules/

# Ignore local environment variables/secrets
.env
*.local

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore build artifacts/compiled logs
dist/
build/
*.log

# Ignore IDE/editor-specific files
.vscode/

# Ignore Rust-specific files
target/debug

